div.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
  'aside main'
  'footer footer';
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr 50px;
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  padding: 15px;

  a.active {
    color: #2A8ACB;
  }
}

main {
  grid-area: main;
  padding: 50px;
}

footer {
  background-color: #2A8ACB;
  color: white;
  grid-area: footer;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
